.delete-icon {
  cursor: pointer;
}

span.checked {
  text-decoration: line-through;
}
.todo-item {
  text-transform: capitalize;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
